// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  --baseDark: #1B2027;
  --baseLight: #f6f6f6;
  --baseLightText: #f8f8f2;

  --logoColor: var(--baseLightText);
  --footerTextColor: rgba(255, 255, 255, 0.55);
  --footerTextBgHover: #ffffff22;
  --footerImg: none;

  background-color: var(--baseDark);
  position: relative;

  &.lightMode {
    background-color: #f9f9f9;

    --logoColor: var(--baseDark);
    --footerTextColor: rgba(0,0,0, 0.75);
    --footerTextBgHover: rgba(0, 0, 0, 0.1);
    --footerImg: invert(1);
  }
}

#app {
  background-color: var(--baseDark);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 50px;

  main {
    position: relative;
    min-height: calc(100vh - 50px);
    overflow: hidden;
  }

  &.lightMode {
    background-color: #fff;
  }
}