h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--baseDark);
    text-align: left;
    font-weight: bold;
    font-size: 28px;
    line-height: 121%;
    opacity: 0.95;
    margin-top: 80px;
    padding-bottom: 10px;
  }

  ol {
    padding-top: 0px;
    padding-left: 20px;

    li {
      margin: 16px 0px;
      position: relative;
      font-family: 'Montserrat', sans-serif;
      color: var(--baseDark);
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      min-height: 28px;
      
      .exerciseElement {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        p {
          padding-right: 30px;

          span {
            margin-left: 5px;
          }

          input.typeAnswer, span.correctAnswer, select.chooseAnswer {
            font-family: 'Montserrat', sans-serif;
            color: var(--baseDark);
            font-weight: 500;
            font-size: 14px;
            position: relative;
            border-radius: 15px;
            text-align: center;
            border: none;
            outline: none;
          }

          input.typeAnswer {
            padding: 4px 4px;
            width: 115px;
            background-color: var(--baseLight);

            &:focus {
              background-color: #eee;
            }

            &::placeholder {
              opacity: 0.4;
            }
          }

          span.correctAnswer {
            padding: 4px 13px;
            width: fit-content;
            background-color: #81C784;
            margin-left:  5px;
            display: none;
          }

          select.chooseAnswer {
            appearance: none;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right 5px center;
            background-size: 1em;
            padding: 4px 27px 4px 15px;
            background-color: var(--baseLight);
            cursor: pointer;

            &:focus {
              background-color: #eee;
            }
          }
        }

        button.showAnswer {
          font-family: 'Montserrat', sans-serif;
          display: block;
          background-color: #ffffff00;
          color: var(--baseDark);
          font-weight: 400;
          font-size: 14px;
          padding: 4px 12px;
          border-radius: 15px;
          position: relative;
          border: none;
          border: 1px solid var(--baseDark);
          cursor: pointer;
          transition: .0s;
          outline: none;

          &:focus {
            background-color: #eee;
          }

          &:hover {
            background-color: var(--baseDark);
            color: #fff;
          }
        }
      }

      .correct {
        p {
          input.typeAnswer, select.chooseAnswer {
            background-color: #81C784;
            pointer-events: none;
          }
        }

        button.showAnswer {
          pointer-events: none;
          visibility: hidden;
        }
      }

      .wrong {
        p {
          input.typeAnswer, select.chooseAnswer {
            background-color: #E57373;
            pointer-events: none;

            &::placeholder {
              opacity: 0;
            }
          }

          span.correctAnswer {
            display: inline;
          }
        }

        button.showAnswer {
          pointer-events: none;
          visibility: hidden;
        }
      }
    }
  }

@media (max-width: 1600px) {
    h3 {
        font-size: 26px;
    }

    ol li {
      font-size: 15px;

      .exerciseElement {
        p {
          padding-right: 25px;

          span {
            margin-left: 4px;
          }

          input.typeAnswer, span.correctAnswer, select.chooseAnswer {
            font-size: 13px;
          }

          input.typeAnswer {
            width: 110px;
          }
        }

        button.showAnswer {
          font-size: 13px;
        }
      }
    }

}

@media (max-width: 1400px) {

    h3 {
        font-size: 22px;
        margin-top: 72px;
      }

      ol {
        padding-left: 17px;

        li {
          font-size: 14px;
          margin: 13px 0px;
        }
      }
}

@media (max-width: 650px) {
    h3 {
        font-size: 18px;
        margin-top: 48px;
        padding-bottom: 0px;
      }

      ol {
        padding-left: 17px;

        li {
          font-size: 13px;
          margin: 10px 0px;

          .exerciseElement {
            p {
              width: fit-content;
              padding-right: 15px;

              input.typeAnswer, span.correctAnswer, select.chooseAnswer {
                font-size: 12px;
              }

              input.typeAnswer {
                width: 100px;
              }
            }

            button.showAnswer {
              padding: 4px;
              width: 24px;
              height: 24px;
              font-size: 11px;
              
              span {
                display: none;
              }
            }
          }
        }
      }
}